:root{
    margin: 0px;
}

.search-form{
    padding: 10px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-self: center;
    background-color: gray;
    border-radius: 7px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.info-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.info{
    display: flex;
    gap: 20px;
    justify-content:space-around;
}

.photo-card{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    max-height: 250px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 2%;
    background-color: orange;
    margin: 2px;
    align-items: center;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 45px;
    justify-content: space-evenly;
    padding: 40px;
}

.is-hidden{
    display: none;
}

.image{
    width: 100%;
    max-height: 200px;
    object-fit: contain;
}

.load-more{
    display: flex;
    margin: 50px auto;
    width: 300px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: green;
    border-radius: 15px;
}

.photo-card:hover {
    transform: scale(1.03);
  }
  
  .photo-card{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: ease-in;
  }
  
  .simple {
    display: block;
    text-decoration: none;
    height: 100%;
  }
  
  .simple:hover {
    cursor: zoom-in;
  }
  